@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    margin: 0;
    background-color: #fff;
    color: #419ED7;
    font-family: 'Averia Libre';
}
main{
    background-color: #ADD4D0;
    height: 100%;
    width: 100%;
}  
.section-search{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
input[type="text"] {
    font-family: 'Averia Libre';
    height: 30px;
    width: 90%;
}

.section-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
}
.card-vacina{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;    
}
.cabeca-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.cabeca-card label{  
    color: #ffffff;  
    background-color: #3F92C5;
    padding-left: 5px;
    padding-right: 5px;
}
.cabeca-card h2{
    width: 100%;
    font-size: 32px;
    margin: 0%;
    height: 70px;
    text-align: center;
    word-wrap: break-word;
}
.vencimento-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.vencimento-card h2{
    font-size: 16px;    
    color: red;
    margin: 0%;
}
.section-btn{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.btn-verde{
    box-shadow: 0px 0px 1px 0px #000000;
    background:linear-gradient(to bottom, #37BD6D 5%, #37BD6D 100%);
    background-color:#37BD6D;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 31px;
    text-decoration:none;
}