@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body{
    margin: 0;
    color: #419ED7;
    font-family: 'Averia Libre';
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-all {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.form-group-label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group-input-radio{
    display: flex;
    flex-direction: row;
}
input{
    font-size: 24px; 
}
label {
    text-align: right;
    font-size: 24px;
    width: 40vh;
    margin-right: 10px;
}
.log-senha{
    text-align: left;
    font-size: 20px;
    color: red;        
}

  
  