@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');
/* https://pt.stackoverflow.com/questions/268506/como-alinhar-label-ao-lado-do-input */

body {
  margin: 0;
  background-color: #fff;
  color: #419ED7;
  font-family: 'Averia Libre';
}
main{
  background-color: #ADD4D0;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

.form-div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-div label {
  font-size: 24px;
  text-align: right;
  width: 290px;
  color: #FFFFFF;
}

.form-div-dose{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 890px;
}

.form-div-dose label{
  font-size: 24px;
  width: 100%;
  text-align: left;
}

input{
  display: inline-block;
  font-family: 'Averia Libre';
  height: 40px;
  width: 40%;
  color: #3F92C5;
  accent-color: #3F92C5;
  font-size: 24px;
  border: 1px solid #ccc;
}

input[type=radio]{
  transform:scale(0.75);
  border: none;
}

input[type=file]{
  display: none;
  color: #3F92C5;
  background-color: #3F92C5;
}
.file-label{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F92C5;
  height: 50px;
}

.section-btn-cadastrar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-verde {
  box-shadow: 0px 0px 1px 0px #000000;
  border: 1px solid #37BD6D;
  background-color: #37BD6D;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Averia Libre';
  padding: 10px 31px;
  max-width: 200px;
}
