@import url("https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap");

body {
  margin: 0;
  background-color: #fff;
  color: #419ed7;
  font-family: "Averia Libre";
}
main {
  background-color: #add4d0;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
}
.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
.form-div-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-label {
  font-size: 24px;
  text-align: right;
  width: 210px;
  color: #ffffff;
}
input {
  display: inline-block;
  font-family: "Averia Libre";
  height: 40px;
  width: 40%;
  color: #3f92c5;
  accent-color: #3f92c5;
  font-size: 24px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  transform: scale(0.75);
  border: none;
}
#log-senha {
  display: none;
  text-align: center;
  font-size: 16px;
  color: red;
}
#log-email {
  display: none;
  text-align: center;
  font-size: 16px;
  color: red;
}
.btn-verde {
  box-shadow: 0px 1px 5px -1px #000000;
  border: 1px solid #37bd6d;
  background-color: #37bd6d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-family: "Averia Libre";
  padding: 10px 31px;
  max-width: 200px;
}
