@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body{
    margin: 0;
    background-color: #ADD4D0;
    font-family: 'Averia Libre';
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn{
    box-shadow: 0px 0px 1px 0px #419dd7;
    background:linear-gradient(to bottom, #419dd7 5%, #419dd7 100%);
    background-color:#419dd7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 31px;
    text-decoration:none;
}