body {
    background-color: #87b3d2;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87b3d2;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 50%;
    gap: 10px;
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.form-div a {
    align-self: center;
}

.form-div label {
    font-size: 24px;
    width: 150px;
    color: #FFFFFF;
    font-weight: 500;
}

input{
    display: inline-block;
    height: 40px;
    width: 100%;
    color: #3F92C5;
    accent-color: #3F92C5;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#esqueci-senha{
    padding-top: 50px;
    font-size:16px;
}

#login-log{
    display: flex;
    width: 100%;
    font-size:16px;
    color: red !important;
    text-align: center !important;
    justify-content: center;
}

.form-div .btn {
    align-self: center;
}
