#iconePage{
    width: 51px;
    height: 51px;
}
nav{
    background-color: #166ea5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    height: 10vh;

}
#div_logoEnome{
    display: flex;
    color: #fff;     
}
.btn{
    background-color:#419dd7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:10px 31px;
    text-decoration:none;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.btn:hover {
    background-color:#2b7cad;
}