@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    margin: 0;
    background-color: #fff;
    color: #419ED7;
    font-family: 'Averia Libre';
}
main{
    background-color: #ADD4D0;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}
.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
.form-div-radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-label {
    font-size: 24px;
    text-align: right;
    width: 210px;
    color: #FFFFFF;
}
input{
    display: inline-block;
    font-family: 'Averia Libre';
    height: 40px;
    width: 40%;
    color: #3F92C5;
    accent-color: #3F92C5;
    font-size: 24px;
    border: 1px solid #ccc;
}

input[type=radio]{
    transform:scale(0.75);
    border: none;
}  
#log-senha{
    display: none;
    text-align: center;
    font-size: 16px;
    color: red;        
}
.btn-verde {
    box-shadow: 0px 1px 5px -1px #000000;
    border: 1px solid #37BD6D;
    background-color: #37BD6D;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Averia Libre';
    padding: 10px 31px;
    max-width: 200px;
} 
  