@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');
body {
    margin: 0;
    background-color: #fff;
    color: #419ED7;
    font-family: 'Averia Libre';
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADD4D0;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 50%;
    gap: 10px;
}
.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form-div label {
    font-size: 24px;
    text-align: right;
    width: 150px;
    color: #FFFFFF;
}
input{
    display: inline-block;
    font-family: 'Averia Libre';
    height: 40px;
    width: 100%;
    color: #3F92C5;
    accent-color: #3F92C5;
    font-size: 24px;
    border: 1px solid #ccc;
}
#esqueci-senha{
    padding-top: 50px;
    font-size:16px;
}

#login-log{
    display: flex;
    width: 100%;
    font-size:16px;
    color: red !important;
    text-align: center !important;
    justify-content: center;
}

.btn{
    box-shadow: 0px 0px 1px 0px #419dd7;
    background:linear-gradient(to bottom, #419dd7 5%, #419dd7 100%);
    background-color:#419dd7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:24px;
    padding:10px 31px;
    text-decoration:none;
}